---

- import_tasks: alacritty.yml
  tags: alacritty
- import_tasks: i3status-rust.yml
  tags: i3status-rust
- import_tasks: gnupg.yml
  tags: gnupg
- import_tasks: kanshi.yml
  tags: kanshi
- import_tasks: mako.yml
  tags: mako

- name: Install sway, swayidle, swaylock, grim, light, playerctl, slurp, udiskie, wf-recorder, wl-clipboard, wofi, xdg-users-dirs, xdg-utils, xorg-xwayland
  pacman:
    name:
      - sway
      - swayidle
      - swaylock
      - grim
      - light
      - playerctl
      # - qt5ct
      - slurp
      - udiskie
      - wf-recorder
      - wl-clipboard
      - wofi
      - xdg-user-dirs
      - xdg-utils
      - xorg-xwayland
    state: present
  become: yes

- name: Create $HOME/.config/sway directory if it does not exist
  file:
    path: "{{ ansible_user_dir }}/.config/sway"
    state: directory

- name: Copy sway config
  copy:
    src: sway.config
    dest: "{{ ansible_user_dir }}/.config/sway/config"

- name: Config fish for sway
  copy:
    src: fish/sway.fish
    dest: "{{ ansible_user_dir }}/.config/fish/conf.d/"
  tags: fish

  # Enable suspend when connected with external monitor
- name: Ensure "HandleLidSwitchDocked=suspend" in section "[Login]" in specified file
  ini_file:
    path: /etc/systemd/logind.conf
    section: Login
    option: HandleLidSwitchDocked
    value: suspend
    no_extra_spaces: yes
    backup: yes
  become: yes
