Host *
  ServerAliveInterval 60
  # StrictHostKeyChecking no

# Host example.github.com
#   HostName github.com
#   IdentityFile ~/.ssh/id_rsa-example
#
# Host server
#   HostName server.example.com
#   ProxyJump fumidai
#   User server-user
#
# Host fumidai
#   HostName fumidai.example.com
#   User fumidai-user
